<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/covid.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <script src="/js/covid.js"></script>
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <script src="/dist/semantic.min.js"></script>
</head>

<body>
  <nav>
    <div class="ui inverted segment">
      <div class="ui secondary pointing inverted menu" id="menu">
        <div class="item">
          <img class="ui mini image" src="/assets/one.svg">&nbsp;&nbsp;Timepass
        </div>
        <a class="item" href="/">
          Home
        </a>
        <a class="item " href="/upload">
          Upload
        </a>
        <a class="item active"  href="/covid">
          Covid-19 Updates
        </a>
      </div>
    </div>
  </nav>
  <div class="dial">
    The Helpline Number for corona-virus : +91-11-23978046 or 1075
  </div>


  <div class="ui segment" style="margin-top: 0; padding: 0;" id="top">
    <div class="ui placeholder segment" id="info" style="margin-bottom: 0;">
      <div class="ui two column stackable center aligned grid" >
        <div class="ui vertical divider">
          <i class="arrow huge circle right icon" >
        </i></div>
        <div class="middle aligned row">
          <div class="column">
            <div class="ui icon header" style="color: white;">
              <i class="search icon"></i>
              Find Country
            </div>
            <div class="field">
              <div class="ui search">
                <div class="ui icon input">
                  <input class="prompt" id="country" type="text" placeholder="Search countries...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui icon header" id="usrcountry" style="color: white;">
              <i class="world icon"></i>
              Add New Country
            </div>
            <div class="container">
            <button class="blue ui fluid button" id="Confirmed" style="margin-bottom: 1rem;">confirmed</button>
            <button class="positive fluid ui button" id="Recovered" style="margin-bottom: 1rem;">Recovered</button>
            <button class="negative fluid ui button" id="Death">Death</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  <div class="photo">
      <div class="layer">
        <div class="pm">
        </div>
      </div>
      <div class="three">
        <a href="https://www.icicibank.com/pm-cares-fund-donation.page?">
          <button type="button">Click Here for more details</button>
        </a>
      </div>
    </div>
    <div class="ui tablet stackable fluid steps">
      <div class="completed step">
        <i class="payment icon"></i>
        <div class="content">
          <div class="title">Janta Curfew</div>
          <div class="description">22March, 2020
          </div>
        </div>
      </div>
      <div class="completed step">
        <i class="payment icon"></i>
        <div class="content">
          <div class="title">Lockdown</div>
          <div class="description">3 Weeks</div>
        </div>
      </div>
      <div class="disabled step">
        <i class="info circle icon"></i>
        <div class="content">
          <div class="title">Next??</div>
          <div class="description">End of epedemic</div>
        </div>
      </div>
    </div>
    <div class="dial" id="fight">
      <span>
        <img src="/assets/lhand.jpg"> #IndiaFightsCorona <img src="/assets/rhand.jpg">
      </span>
    </div>
    </div>



    </div>
   
  </div>
 

  <section>
    <div class="top">
    <div class="vol">
      <a href="https://self4society.mygov.in/volunteer/">
      <img src="/assets/volunteer.jpg">
      <span id="Volunteer">Register as a Covid-19 Volunteer</span>
    </a>
  </div>
  <div class="vol">
      <a href="https://www.mygov.in/group-issue/share-your-ideas-suggestions-help-fight-coronavirus/?utm_source=webcampaign&group_issue&285571/">
      <img src="/assets/contest.jpg">
      <span id="Volunteer">Innovate to fight Covid-19</span>
    </a>
  </div>
    <div class="vol">
      <a href="https://self4society.mygov.in/volunteer/">
      <img src="/assets/panic.jpg">
      <span id="Volunteer">Ideate to combat corona virus</span>
    </a>
  </div>
  </div>
  </section>
  <footer>
    <div class="cover">
      <div class="one1">
        <ul>
          <li><b>
              <span></span>About</b></li>
          <li>Home

          </li>
          <li>About Us</li>
          <li>SHare Happyness</li>
          <li>Product Comparison</li>

        </ul>
      </div>
      <div class="one1">
        <ul>
          <li><b>
              <span></span> Contact Us
            </b></li>
          <li> Skype: NULL
          </li>
          <li> Phone: +91 000000000</li>
          <li> Cordinator </li>
          <li>Noone: +91 00000005</li>


        </ul>
      </div>
      <div class="one1">
        <ul>
          <li><b>
              <span></span>Latest from our blog
            </b></li>
          <li> Webcam Business Idea in UK?
          </li>
          <li> Infographic: USA the BornLand</li>
          <li> Online Stock Business</li>
          <li>Access Websites</li>

        </ul>
      </div>
      <div class="one1">
        <ul>
          <li><b>
              <span></span>Located at</b></li>
          <li> Room No.109,
          </li>
          <li> Chak Gajeria, Ahmamau</li>
          <li>Lucknow</li>
          <li>Phone: +91 0000005</li>

        </ul>
      </div>
    </div>
  </footer>

</body>

</html>