<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="/js/js.js"></script>
   
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="/dist/semantic.min.js"></script>
  </head>
<body>
  <nav>
    <div class="ui inverted segment">
      <div class="ui secondary pointing inverted menu" id="menu">
        <div class="item">
          <img class="ui mini image" src="/assets/one.svg">&nbsp;&nbsp;Timepass
        </div>
        <a class="active item">
          Home
        </a>
        <a class="item" href="/upload">
          Upload
        </a>
        <a class="item " href="/covid">
          Covid-19 Updates
        </a>
      </div>
    </div>
  </nav>
  <div class="ui inverted segment" >
    <div class="ui four stackable cards" id="segment">
      </div>


  </div>



  <footer>
    <div class="cover">
      <div class="one1">
        <ul>
          <li><b>
              <span></span>About</b></li>
          <li>Home
          </li>
          <li>About Us</li>
          <li>SHare Happyness</li>
          <li>Product Comparison</li>
        </ul>
      </div>
      <div class="one1">
        <ul>
          <li><b>
              <span></span> Contact Us
            </b></li>
          <li> Skype: NULL
          </li>
          <li> Phone: +91 000000000</li>
          <li> Cordinator </li>
          <li>Noone: +91 00000005</li>
        </ul>
      </div>
      <div class="one1">
        <ul>
          <li><b>
              <span></span>Latest from our blog
            </b></li>
          <li> Webcam Business Idea in UK?
          </li>
          <li> Infographic: USA the BornLand</li>
          <li> Online Stock Business</li>
          <li>Access Websites</li>

        </ul>
      </div>
      <div class="one1">
        <ul>
          <li><b>
              <span></span>Located at</b></li>
          <li> Room No.109,
          </li>
          <li> Chak Gajeria, Ahmamau</li>
          <li>Lucknow</li>
          <li>Phone: +91 0000005</li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>