<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='Stylesheet' href="./css/fac.css">
    <title>Document</title>
</head>
<body>
    <div class="hero">
       <div class="form-box">
           <div class="button-box">
                         <p>Login</p>
           </div> 
        <form id="login" class="input-group" action="login"  method="POST">
            <h2 class="input-field"> Welcome</h2>
            <input type="text" class="input-field" name="username" placeholder="Username" required>
            <input type="text" class="input-field" name="password" placeholder="Enter the password" required>
            <span class="span1"><a href="#">Forgot Password?</a></span>
            <button type="submit" class="submit-btn">Login</button>
            <span class="span2">Don't have an account?</span>
            <span class="span3"><a href="#">Signup Now</a></span>
       </div> 
    </div>
</body>
</html>