<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="./css/otp.css">
</head>
<body>
    <div class="container">
        <div class="h1"><h1>E-Mail Verification</h1></div>
        <div class="h2">We've e-mailed you a 6 digit-code.Please Check your e-mail and enter the code here to complete the varification.</div>
        <form action="/otp" method="POST" class="h3">
            <input type="text" name="yourotp">
            <input type = "hidden" name = "username" value = " <%= data.username %>" />
            <input type = "hidden" name = "email" value = "<%= data.email %>" />
            <input type = "hidden" name = "password" value = "<%= data.password %>" />
            <input type = "hidden" name = "otp" value = "<%= data.otp %>" />
            <button>Verify</button>
        </form>
        <div class="h4">
            <span></span>Didn't recieve the OTP? <a href="/login">Resend</a></div>
    </div>   
</body>
</html>