<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='Stylesheet' href="./css/fac2.css">
    <title>Document</title>
</head>
<body>
    <div class="hero">
       <div class="form-box">
           <div class="button-box">
                         <p>Signup</p>
           </div> 
        <form id="login" class="input-group" action="/register" method="POST">
            <h2 class="input-field " id="pro"> Profile</h2>
            <input type="text" class="input-field"  name="username" placeholder="Username" required>
            <input type="email" class="input-field" name="email" placeholder="Email Address" required>
            <input type="text" class="input-field" name="password"  placeholder="Create password" required>
            <input type="checkbox" class="check-box" required >
            <span class="span1">I agree to the terms and conditions</span>
            <button type="submit" class="submit-btn">Register</button>
            <span class="span2">Have an account?</span>
            <span class="span3"><a href="#">Login</a></span>
        </form>
       </div>
       
    </div>

</body>
</html>