    .active-pink-textarea.md-form label.active {
  color: #f48fb1;
}
.pink-textarea textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.pink-textarea.md-form .prefix.active {
  color: #f48fb1;
}
.active-pink-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #f48fb1;
}

.active-amber-textarea.md-form label.active {
  color: #ffa000;
}
.amber-textarea textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffa000;
  box-shadow: 0 1px 0 0 #ffa000;
}
.amber-textarea.md-form .prefix.active {
  color: #ffa000;
}
.active-amber-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #ffa000;
}

.active-pink-textarea-2 textarea.md-textarea {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink-textarea-2.md-form label.active {
  color: #f48fb1;
}
.active-pink-textarea-2.md-form label {
  color: #f48fb1;
}
.active-pink-textarea-2.md-form .prefix {
  color: #f48fb1;
}
.active-pink-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #f48fb1;
}

.active-amber-textarea-2 textarea.md-textarea {
  border-bottom: 1px solid #ffa000;
  box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea-2.md-form label.active {
  color: #ffa000;
}
.active-amber-textarea-2.md-form label {
  color: #ffa000;
}
.active-amber-textarea-2.md-form .prefix {
  color: #ffa000;
}
.active-amber-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #ffa000;
}
/* 



*/

.form-gradient .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
  }
  .form-gradient input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    box-shadow: 0 1px 0 0 #fd9267;
  }
  .form-gradient input[type=text]:focus:not([readonly]) + label {
    color: #4f4f4f;
  }
  .form-gradient textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #fd9267;
    box-shadow: 0 1px 0 0 #fd9267;
  }
  .form-gradient .md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #4f4f4f;
  }
  
  
  .form-dark .md-form label {
    color: #fff;
  }
  .form-dark input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    -webkit-box-shadow: 0 1px 0 0 #00C851;
    box-shadow: 0 1px 0 0 #00C851;
  }
  .form-dark input[type=text]:focus:not([readonly]) + label {
    color: #fff;
  }
  .form-dark textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00C851;
    box-shadow: 0 1px 0 0 #00C851;
    color: #fff;
  }
  .form-dark textarea.md-textarea  {
    color: #fff;
  }
  .form-dark .form-control, .form-dark .form-control:focus {
    color: #fff;
  }
  .form-dark .md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #fff;
  }

  /* 
  
  
  
  
  */

  .cover{
    width:100%;
    display: flex;
}
.one1{
    width:25vw;
    display: flex;
    align-items: flex-start;
    padding-top: 5%;
   
    /* margin-bottom: 20%; */
}
ul{
    list-style: none;
}
.one1 li b{

      font-weight: 600;
      font-size: 1.5em;
      
}
.one1 li{
    margin-left: 15%;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    color: #fff;
    font-weight: 50;
width:100% ;
padding: 8px;
border-bottom: 1px solid rgba(255,255,255,0.05);;
}
footer{
    background-color: #2e2e2e;
    height:300px;
}
#card{
  color: black;
}
